/* inisialisi warna */
:root {
  --primary: #b6895b;
  --bg: #010101;
}

/* Reset all selector*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none; /*supaya tidak ada garis bawa ketika membuat link */
}

/* body */
body {
  font-family: sans-serif;
  background-color: var(--bg);
  color: #fff; /* warna font */
  min-height: 2000px;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between; /*sejajar secara horizontal */
  align-items: center; /*sejajar secara vertikal */
  padding: 1.4rem 7%; /* 1.4 rem artinya di x 16px dan ukurannya 7% akan diberi selang di setiap ukuran layer */
  background-color: rgba(1, 1, 1, 0.8);
  border-bottom: 1px solid #513c28;
  position: fixed; /* agar posisi navbar tetap di atas */
  left: 0;
  right: 0;
  z-index: 9999;
}

/* logo di navbar */
.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  font-style: italic;
}

/* span di navbar */
.navbar .navbar-logo span {
  color: var(--primary);
}

/* a di navbar */
.navbar .navbar-nav a {
  color: #fff;
  display: inline-block; /* karna defaultnya a inline,utk bisa beri margin maka di ganti */
  font-size: 1.3rem;
  margin: 0 1rem;
}

/* Ketika di sorot navbar-nya */
.navbar .navbar-nav a:hover {
  color: var(--primary);
}

/* navbar-nya ada garis bawah di navbar */
.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

/* Ketika di sorot navbar-nya baru muncul garis bawahnya */
.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}
/* hamburger-menu atau garis 3 lapis sebelah kanan */
#hamburger-menu {
  display: none;
}

/* Hero Section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background-color: linear-gradient(
    0deg,
    rgba(1, 1, 3, 1) 8%,
    rgba(255, 255, 255, 0) 50%
  );
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 5em;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.2;
}

.hero .content h1 span{
  color: var(--primary);
}

.hero .content p{
  font-size: 1.6rem;
  margin-top: 1rem;
  line-height: 1.4;
  font-weight: 100;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  mix-blend-mode: difference;  /* agar otomatis kontras warna ketika ketemu warna yang sama */

}

.hero .content .cta{
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: #fff;
  background-color: var(--primary);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1,1,3,0.5);
}

/* About Section */
.about{
  padding: 8rem 7% 1.4rem;
}
.about h2{
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

.about h2 span{
  color: var(--primary);
}

.about .row{
  display: flex;
}

.about .row .about-img{
  flex: 1 1 45rem;
}

.about .row .about-img img{
  width: 100%;
}

.about .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}

.about .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.about .row .content p{
  margin-bottom: 0.8rem;
  font-size: 1.3rem;
  font-weight: 100;
  line-height: 1.6;
}

/* Media Queries */
/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
  /* agar humberger menu nya muncul */
  #hamburger-menu {
    display: inline-block;
  }

  /* agar sidebar muncul ke kanan */
  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%; /* agar keluar dari layar */
    background-color: #fff;
    width: 30rem;
    height: 100vh; /* tingginya memenuhi layar */
    transition: 0.3s;
  }

  /* ketika navbar menu di klik */
  .navbar .navbar-nav.active {
    right: 0;
  }

  /* menu2 nya */
  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }
  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }
  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .about .row{
    flex-wrap: wrap;
  }

  .about .about-img img{
    height: 24rem;
    object-fit: cover;
    object-position: center;
  }

  .about .row .content{
    padding: 0;
  }

  .about .row .content h3{
    margin-top: 1rem;
    font-size: 1.6rem;
  }
}

/* Mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
